#wrap {
    position: relative;
    min-width: 1280px;
    line-height: 120%;
}


.subwaysite {
    border-top: 5px solid #009223;
    left: 0;
    width: 100%;
    top: 0;
    background-color: #fff;
    min-width: 1280px;
    
}
.head-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.head-container > a {
    width: 202px;
    height: 40px;
}

.login-set {
    display: flex;
    position: absolute;
    right: 22%;
    top: 50px;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
}
.login-set > a {
   color: #666666;
}
.login-set > a:hover {
    color: #333;
}

.sign-in {
    margin-left: 30px;
}

.lang {
    margin-left: 15px;
}

.sign-in::before {
    display: block;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50px;
    background-color: #666666;
    left: 53px;
    top: 50%;
    margin-top: -2px;
    position: absolute;
    opacity: 0.3;

}

.menubar {
    text-align: center;
    background: #fff;
    transition: 0.5s;
}


.main-menu {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;    
    text-align: center;

}

.sub-menu {
    padding-top: 20px;
    background-color: #fff;
    position: relative;
    justify-content: space-around;
    display: none;
}



.sub-menu a {
    font-size: 14px;
    color: #666666;
    line-height: 30px;
}

.sub-menu a:hover {
    color: #009223;
    text-decoration: underline;
    transition: 0.2s;
}



.menu-title > a {
    color: black;
}

.menu-title > a:hover {
    color: #009223;
}

.main-banner > img {
   max-width:100%;
   height:440px;
}
.button {
    position: absolute;
    display: flex;
}
.store {
    background-color: #ffce32;
    border: 0px solid black;
    width: 300px;
    height: 80px;
    border-radius: 30px 0 0 0;
    cursor: pointer;
}
.franchisee {
    background: #009223;
    border: 0px solid black;
    width: 300px;
    height: 80px;
    border-radius: 0 0 30px 0;
    display: inline-block;
    cursor: pointer;
    
}
.store-img {
     color: #333;
     font-size: 22px;
     font-weight: bold;
     align-items: center;
     display: flex;
     justify-content: center;      
}
.store-img-green {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}
.store-img > img {
    position: relative;
    margin-right: 10px;
}

.store-img-green > img {
    position: relative;
    margin-right: 10px;
}

#menu-list {
    padding: 70px;
    align-items: center;
    justify-content: space-between;
}

.menu-bottom {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.menu-bottom > h2 {
    background: url(img/bul_tit.png)0 12px no-repeat;
    color: #292929;
    font-size: 40px;
    font-weight: bold;
    min-height: 80px;
    padding: 34px 0 0 30px;
    margin-bottom: 5px;
}

.menu-classic {
    padding: 34px 0 0 0px;
}

.side-bar {
    display: flex;
        
}
.side-bar > li {
    margin: 0 0 0 20px;
    font-weight: bold;
}
.side-bar > li > a{
    color: #666666;
}
.side-bar > li > a:active {
    color: #009223;
}
.side-bar-menu::after {
    content: '│';
    border: 0px solid #666666;
    padding: 0 0 0 20px;
    
} 

.sandwiht {
    text-align: center;
    padding: 40px;

}

.sandwiht-img > img {
    width: 260px;
}

.Introduce {
    display: inline-block;
}

.introduce-sandwiht {
    width: 270px;
    height: 320px;
    justify-content: space-between;
    display: flex;
    float: left;
    margin: 15px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #292929;
    padding: 10px;   
}

.Explanation {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.04em;
    width: 260px;
    line-height: 21px;
}

#news {
    background: url(img/bg_content.gif);
}

.news-list {
    width: 1280px;
    margin: 0 auto;
    padding: 65px 0;
}

.top {
    overflow: hidden;
    display: flex;
}

.top1-0 {
    background: url(img/bg_utilization.png)0 0 no-repeat;
    width: 400px;
    height: 300px;
    position: relative;
    margin-left: 55px;
}
.top1-0 > p {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    left: 39px;
    top: 38px;
    position:absolute;
    letter-spacing: -3px;
}

.top1-0 > a {
    position: absolute;
    left: 41px;
    bottom: 42px;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 92px;
    height: 36px;
    color: #fff;
    text-align: center;
    align-items: center;
}

.top1-0 > a > span {
    line-height: 33px;
    font-weight: bold;
}

.top1-1 {
    background: url(img/img_subway_history.png);
    width: 825px;
    position: relative;
}
.top1-1 > p {
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    letter-spacing: -3px;
    left: 410px;
    top: 38px;
}

.top1-1 > a {
    position: absolute;
    left: 410px;
    bottom: 36px;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    color: #fff;
    text-align: center;
    align-items: center;
}

.top1-1 > a > span {
    line-height: 38px;
    font-weight: bold;
    font-size: 15px;
}

.news-bottom {
    width: 1280px;
    padding-top:  20px;
    display: flex;
}

.bottom{
    background: #fff;
    width: 870px;
    height: 300px;
    border-radius: 30px 0 30px 0;
    margin-left: 55px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 35px;
}


.bottom1-1 > h4 {
    background: url(img/bul_tit.png)no-repeat;
    color: #292929;
    font-size: 30px;
    font-weight:bold;
    min-height: 60px;
    padding: 23px 0 0 25px;
    margin-bottom: 20px;
    
}

.bottom1-1 > p {
    font-size: 16px;
    font-weight:600;
    text-align: center;
    line-height: 26px;
    letter-spacing: -1px;
    color: #666666;
}
.sponsor {
    margin-left: 20px;
}

.bottom-a > a {
    color: #292929;
    line-height: 20px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    letter-spacing: -0.5px;   
}

.more {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    bottom: 50px;
}

.sponsor > a > img {
    border-radius: 0px 30px 0px 30px;
}

.bottom-a > a:hover {
    text-decoration: underline;
    color: #009223;
    transition: 0.2s;
}

.qiuck-menu-zip {
    text-align: left;
    background-color: #fff;
    padding: 40px 0 37px;
    margin: 0 auto;
    width: 1250px;
}

.menus1 {
    overflow: hidden;
    display: inline-block;
}

.qiuck-menu-zip > ul > li {
    float: left;
    margin-left: 80px;
    align-items: center;
}

.qiuck-menu1 {
    margin-left: 0;
}

.qiuck-menu-zip > ul > li > a {
    display: block;
    overflow: hidden;
    position: relative;
    height: 70px;
    padding-left: 90px;
}

.icon {
    background: url(img/icon_quickmenu.png)no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}

.menus1 > li > a > h4 {
    color: #292929;
    font-size: 18px;
    display: block;
    margin-top: 12px;
    letter-spacing: -0.04em;
    text-align: left;
    font-weight: bold;
}

.menus1 > li > a > span {
    color: #999999;
    font-size: 13px;
    display: block;
    margin-top:6px;
    letter-spacing: -0.02em;
    text-align: left;
}

.qiuck-menu-zip > ul > .qiuck-menu1 > a > .icon {
    background-position: 0px 0px;
}
.qiuck-menu-zip > ul > .qiuck-menu2 > a > .icon {
    background-position: -70px 0px;
}

.qiuck-menu-zip > ul > .qiuck-menu3 > a > .icon {
    background-position: -140px 0px;
}

.qiuck-menu-zip > ul > .qiuck-menu4 > a > .icon {
    background-position: -210px 0px;
}

.ends {
    background-color: #292929;
    color: #666666;
    padding: 22px 0;

}

.end {
    margin: 0 auto;
    text-align: left;
    position: relative;

}

.end-contents {
    margin-bottom: 20px;
    width: 1170px;
    margin: 0 auto;
}

.end-contents > ul {
    overflow: hidden;
}

.end-contents > ul > li {
    float: left;
}

.end-contents > ul > li:nth-child(n+2) {
    margin-left: 29px;
}

.end-contents > ul > li > a {
    color: #666666;
    display: block;
    font-size: 14px;
    letter-spacing: -0.05em;
}

.end-contents > ul > li > .end-bold {
    font-weight: bold;
    color: #BBBBBB;
}

hr {
    border: 0;
    height: 1px;
    background: #666666;
    margin-top: 25px;
    opacity: .5;
}

.span-list {
    width: 1170px;
    margin: 0px auto;
    font-size: 13px;
    margin-top: 25px;
}

.footer-copyright {
    margin-top: 10px;
}

.sns1 {
    background: url(img/icon_sns_instar.png)no-repeat;
    width: 100px;
    height: 50px;
    position: absolute;
    right: 500px;
    top: 50px;
    background-position: 50px 0;
}

.sns1:hover {
    background-position: -50px 0;
    right: 450px;
}

.sns2 {
    background: url(img/icon_sns_facebook.png)no-repeat;
    width: 100px;
    height: 50px;
    position: absolute;
    right: 430px;
    top: 50px;
    background-position: 50px 0;
}

.sns2:hover {
    background-position: -50px 0;
    right: 380px;
}